<header>
        <a href='/home' class="title"><h1>InstantGram</h1></a>
        <a href="/home/create"><img src="/images/upload.png"></a>
        <a href="/user/logout"><img src="/images/logout.png"></a>
        <a href="/user/<%= user._id %>"><img src="/images/user.png"></a>
</header>