<header>
        <a href='/home' class="title"><h1>InstantGram</h1></a>
        <a href="/home/create"><P>UPLOAD</P></a>
        <a href="/user/logout"><p>LOGOUT</p></a>
        <a href="/user/<%= user._id %>"><p>PROFILE</p></a>
        <form action=>
            
        </form>
</header>