<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Error!</title>
</head>
<body>
    <main>
        <h1>Uh oh! theres been an unexpected error on our end! We apologize</h1>
        <p><%= error %></p>
    </main>
</body>
</html>