
header {
    z-index: 10;
    width: 100%;
    height: 55px;
    position: fixed;
    margin: 0px;
    background-color: rgb(30, 64, 79);
    overflow: hidden;
}
.home {
    opacity: 0;
}
header .title{
    float: left;
    margin: 0 auto;
    width: fit-content;
    padding: 10px; 
    top: -20px;
    color: white;
    margin-left: 30px;
    left: 0;
}
header a {
    position: relative;
    float: right;
    text-decoration: none;
    color: white;
    margin: 10px;
    left: 70px;
}
header a p {
    display: flex;
    font-size: 14px;
    height: 20px;
    padding: 6px;
    padding-top: 4px;
    width: fit-content;
    border-radius: 5%;
    color: white;
    border-bottom: 3px solid rgb(33, 83, 101);  
    text-align: center;
    align-items: center;
    margin: 0px;
    margin-top: 6px;
    animation: 1.5s ease-out slideInFromBottom;
}
header a p:hover {
    background-color: rgb(57, 125, 148);
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}
@media(max-width: 500px) {
    .home {
        opacity: 1;
    }
    header .title{
        display: none;
    }
    header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0px;
        display: flex;
        justify-content: space-around;
    }
    header a {
        float: none;
        margin: 0px;
        left: 8px;
        top: 8px;
    }
    header a p {
        font-size: 18px;
    }
}