body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div .img {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    height: 400px;
    max-width: 500px;
}