<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to InstantGram</h1>
        <h3>Already have an account with us? <a href="/user/login">Click here</a></h3>
        <h3>Register</h3>
    </header>
    <form action="/user/registration" method="POST">
        <input type="text" name="username" placeholder="Username" required /><br>
        <input type="password" name="password" placeholder="Password" required/><br>
        <input type="email" name="email" placeholder="email" required/><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>